* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
}

.nav {
  background: #131313;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.nav_container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

#nav_logo {
  background: #ee0979;
  background: -webkit-linear-gradient(to right, #ff6a00, #ee0979);
  background: linear-gradient(to right, #ff6a00, #ee0979);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-colr: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
}

.fa-laptop-code {
  margin-right: 0.5rem;
}

.nav_menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.nav_item {
  height: 80px;
}

.nav_links {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
}

.nav_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 5px 20px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
  /* background: #c04848;
  background: -webkit-linear-gradient(to right, #480048, #c04848);
  background: linear-gradient(to right, #480048, #c04848); */
  background: #de6262;
  background: -webkit-linear-gradient(to right, #ffb88c, #de6262);
  background: linear-gradient(to right, #ffb88c, #de6262);
  color: #fff;
}

.btn:hover,
.btn:focus {
  /* background: #c04848; */
  transition: all 0.3s ease;
  transform: translateY(-0.25em);
}

.nav_links:hover {
  color: #de6262;
  transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
  .nav_container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }

  .nav_menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 0;
    transition: all 0.5s ease;
    height: 50vh;
    z-index: -1;
    background: #131313;
  }

  .nav_menu.active {
    background: #131313;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 50vh;
    font-size: 1.6rem;
  }

  #nav_logo {
    padding-left: 25px;
  }

  .nav_toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
  }

  .nav_item {
    width: 100%;
  }

  .nav_links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  #menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .nav_btn {
    padding-bottom: 2rem;
  }

  .btn {
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50px;
    margin: 0;
  }

  .nav_toggle .bar {
    display: block;
    cursor: pointer;
  }

  #menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/* Main Section */
.main {
  background-color: #141414;
}

.main_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 90vh;
  background-color: #141414;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  padding: 0 50px;
}

.main_content h1 {
  font-size: 4rem;
  background-color: #ee0979;
  background: -webkit-linear-gradient(to right, #ff6a00, #ee0979);
  background: linear-gradient(to right, #ff6a00, #ee0979);

  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-colr: transparent;
  background-size: 100%;
}

.main_content h2 {
  font-size: 4rem;
  background: #de6262;
  background: -webkit-linear-gradient(to right, #ffb88c, #de6262);
  background: linear-gradient(to right, #ffb88c, #de6262);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-colr: transparent;
  background-size: 100%;
}

.main_content p {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
}

.main_btn {
  font-size: 1rem;
  /* font-weight: bold; */
  background: #de6262;
  background: -webkit-linear-gradient(to right, #ffb88c, #de6262);
  background: linear-gradient(to right, #ffb88c, #de6262);
  padding: 14px 32px;
  border: none;
  border-radius: 4px;
  color: #fff;
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.3s;
  outline: none;
}

.main_btn a {
  position: relative;
  z-index: 2;
  color: #fff;
  text-decoration: none;
}

.main_btn:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #de6262;
  transition: all 0.35s;
  border-radius: 4px;
}

.main_btn:hover {
  color: #fff;
}

.main_btn:hover::after {
  width: 100%;
}

.main_img_container {
  text-align: center;
}

#main_img {
  height: 80%;
  width: 80%;
}

/* Mobile Responsive */
@media screen and (max-width: 760px) {
  .main_container {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    height: 90vh;
  }

  .main_content {
    text-align: center;
    margin-bottom: 4rem;
  }

  .main_content h1 {
    font-size: 2.5rem;
    margin-top: 2rem;
  }

  .main_content h2 {
    font-size: 3rem;
  }

  .main_content p {
    margin-top: 1rem;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 480px) {
  .nav_links {
    font-size: 1.2rem;
  }

  .main_content h1 {
    font-size: 2rem;
    margin-top: 3rem;
  }

  .main_content h2 {
    font-size: 2rem;
  }

  .main_content p {
    margin-top: 2rem;
    font-size: 1.5rem;
  }

  .main_btn {
    padding: 15px 25px;
    margin: 2rem 0;
  }
}

/* Services Section */
.services {
  background: #141414;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.services h1 {
  background-color: #ee0979;
  background: -webkit-linear-gradient(to right, #ff6a00, #ee0979);
  background: linear-gradient(to right, #ff6a00, #ee0979);
  background-size: 100%;
  margin: 1rem;
  font-size: 2rem;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-colr: transparent;
}

.services_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.services_card {
  margin: 2rem;
  height: 500px;
  width: 400px;
  border-radius: 4px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(17, 17, 17, 0.6) 100%), url('/images/coding.jpg');
  background-size: cover;
  position: relative;
  color: #fff;
}

.services_card:nth-child(2) {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(17, 17, 17, 0.6) 100%), url('/images/team.jpg');
  background-size: cover;
  color: #fff;
}

.services h2 {
  position: absolute;
  top: 330px;
  left: 20px;
}

.services_card p {
  position: absolute;
  top: 380px;
  left: 20px;
}

.services_card:hover {
  transform: scale(1.03);
  transition: 0.2s ease-in;
  cursor: pointer;
}

.services_card button {
  color: #fff;
  background: #494949;
  /* background: -webkit-linear-gradient(to right, #ffb88c, #de6262);
  background: linear-gradient(to right, #ffb88c, #de6262); */
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  position: absolute;
  top: 440px;
  left: 20px;
  font-size: 1rem;
  cursor: pointer;
}

.services_card button:hover {
  background-color: #131313;
  transition: all 0.3s ease;
  transform: translateY(-0.25em);
}

@media screen and (max-width: 960px) {
  .services {
    height: 1600px;
  }

  .services h1 {
    font-size: 2rem;
    margin-top: 5rem;
  }
}

@media screen and (max-width: 480px) {
  .services {
    height: 1400px;
  }

  .servics h1 {
    font-size: 1.2rem;
  }
  .services_card {
    width: 300px;
  }
}
